
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;

  .sidebar-menu {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1rem;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.layout {
  display: flex;

  main.content {
    margin-left: 200px; // サイドバー分のスペース
    padding: 2rem;
    width: 100%;
  }
}
